<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>

    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.camera"    android:required="false"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/artisan"
        android:label="Halli_Santhe"
        android:roundIcon="@mipmap/artisan_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HalliSanthe">

        <!-- ✅ Onboarding — LAUNCHER -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="true"
            android:theme="@style/Theme.HalliSanthe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".SplashActivity"          android:exported="false"/>
        <activity android:name=".MainActivity"            android:exported="false"/>
        <activity android:name=".DetailActivity"          android:exported="false"/>
        <activity android:name=".AddProductActivity"      android:exported="false"/>
        <activity android:name=".MyProductsActivity"      android:exported="false"/>
        <activity android:name=".ArtisanProfileActivity"  android:exported="false"/>
        <activity android:name=".ContactUsActivity"       android:exported="false"/>
        <activity android:name=".EditProductActivity"     android:exported="false"/>
        <activity android:name=".SalesHistoryActivity"    android:exported="false"/>
        <activity android:name=".ReviewsActivity"         android:exported="false"/>
        <activity android:name=".WishlistActivity"        android:exported="false"/>

    </application>

</manifest>